*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

fieldset{
    height: 150px;
    width: 300px;
    margin-left: 50px;
    border-radius: 15px;
    border: 1px solid #312f2f;
}

.stat{
    display: flex;
    padding-left: 30px;
    margin-top: 10px;
    padding: 30px;
    margin-left: 200px;
}

.text{
    padding: 10px;
    font-size: 15px;
}

h1{
    padding: 20px;
    margin-left: 150px;
}

.para{
    margin-left: 180px;
}

.ens{
    display: flex;
    height: 15px;
    width: 400px;
    border: 1px solid #000;
    padding-top: 15px;
    background-color: #f6efefc8;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 180px;
    text-align: center;
}
a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;

}

.sidebar {
    position: fixed;
    display: flex;
    height: 900px;
    width: 190px;
    background-color: #000;
    align-content: start;
    padding-top: 50px;
    font-size: 20px;
}

.sidebar li{
    padding-bottom: 20px;
    color: #eee;
}

.body{
    width: 90%;
    height: 100%;
    align-content: end;
    margin-left: 50px;
}