*{
    padding: 0;
    margin: 0;
}

fieldset{
    height: 150px;
    width: 200px;
    margin-left: 50px;
    border-radius: 15px;
    border: 1px solid #eee;
}

.stat{
    display: flex;
    padding-left: 30px;
    margin-top: 10px;
    padding: 30px;
}

.text{
    padding: 20px;
    font-size: 15px;
}

h1{
    padding: 20px;
}

.ens{
    display: flex;
    height: 15px;
    width: 400px;
    border: 1px solid #000;
    padding-top: 15px;
    background-color: #f6efefc8;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
}
a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;

}