/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corps de la page */
body {
    height: 100vh;
    /*background : linear-gradient(135deg, #1e90ff, #00bcd4);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteneur principal */
.container {
    background: #ffffff;
    padding: 60px;
    width: 600px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* Titres */
.container h1 {
    margin-bottom: 10px;
    color: #333;
}

.container p {
    margin-bottom: 30px;
    color: #3608cc;
}

/* Boutons */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.btn {
    flex: 1;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    text-align: center;
    transition: 0.3s;
}


/* Couleurs spécifiques */
.etudiant {
    background-color: #4caf50;
}

.enseignant {
    background-color: #2196f3;
}

.chef {
    background-color: #ff5722;
}

/* Effet hover */
.btn:hover {
    opacity: 0.85;
    transform: scale(1.03);
}